.app__wrapper {
    position: relative;
    min-height: 100vh;
    height: fit-content;
    padding: 6.4rem 10% 6.4rem 10%;
    flex-direction: column;
    // background-image: linear-gradient(0deg, rgb(30, 35, 48), rgb(127, 139, 153));
    background: url("./assets/background-video.gif") repeat;
    background-position: center;
    background-size: cover;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: black;
        opacity: .6;
    }
}

@media screen and (max-width: 701px){
    .app__wrapper {
        background: url("./assets/background-video.gif") repeat;
        background-position: center;
        background-size: contain;
    }
}